extends header

block content
  p(class='exercise-title') #{workout.title}
    br
    | Description: #{workout.description}
    td(style="border: 1px solid green")
    br
    div(class='grid-container')
      each exercise in workout.exercise
        div(class='grid-item')
          | Exercise: #{exercise.exercise}
          td(style="border: 1px solid green")
          br
          | Exercise description: #{exercise.description}
          td(style="border: 1px solid green")
          br
          | Sets: #{exercise.set}
          td(style="border: 1px solid green")
          br
          | Reps: #{exercise.reps}
          td(style="border: 1px solid green")
          br

  p.lead Add exercise to workout
  a.btn.btn-info-outline.btn-lg(class='button' href='/addExercise?id=' + workout._id) Add exercise

  p.lead Go back to home
  a.btn.btn-info-outline.btn-lg(class='button' href='/') Go back